@model Day_8.Models.Employe
<div>
    <h1>WelCome To Employes</h1> 
</div>
    <div class="text-center" >
          <button class="btn btn-danger"><a class="nav-link text-dark" asp-area="" asp-controller="Employe" asp-action="ShowDetail" asp-route-id="@Model.Id">ShowDetail</a></button>
    </div>